.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.header{
  display: flex;
  border: 2px solid skyblue;
 margin: 40px;
 height: 50px;
}
.header img{
  height: 60px;
  width: 60px;
  
}
.header p{
 padding-left: 400px;
  margin-left: 500px;
  
}
.search-bar{
  display: flex;
  border: 2px solid skyblue;
 height: 50px;
 width: 100%;
}
.search-bar h6{
  padding: 10px;
  margin-left: 20px;
}
.search-bar input{
  padding: 10px;
  margin-left: 100px;
}
.search-bar button{
  padding: 10px;
 margin-left: 700px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 6px;
  
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 18px;
}
